@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,900;1,100;1,300&display=swap');
html {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
    color: rgb(23, 23, 23);
    letter-spacing: .1em;
    margin: 0;
}

p {
    margin: 0;    
}

ul {
    margin: 0;
    padding-left: 0em;
    list-style: circle inside;
}

ul ul,
ol ol {
    margin: 0 0 0 2.5em;
}

.message {
    padding-top: auto;
    padding-bottom: auto;
    padding: 15px;
    color: rgb(0, 0, 0);
    margin: 15px 0;
    display: flex;
    gap: 12px;
    border-radius: 5px;
    background-color: rgb(203, 203, 203);
}


.photo_alone {
    overflow: hidden;
    width: fit-content;
}

.photo_alone a:hover img {
    transform: scale(1.07);
    transition: 0.3s;
}

